; this must be placed next to source2.sh

[paths]
    home = "${HOME}/.profile/scripts"
    resources = "${HOME}/.profile/resources"

[repos]
    resources = "https://github.com/wav/resources.git#32e3fa97db9d2b412e6bfe6062f7fc31df03c9ea"

[collection "init"]
    script = "home/rc.sh"
    script = "resources/bash/log.sh" ; must `source2::pull` first